@model IT_Forum.Responses.PagedResponse<List<IT_Forum.Models.Entities.Post>>

@{
    ViewData["Title"] = "Posts";
}

<h1>Posts</h1>


<html>
<head>
    <title>title</title>
</head>
<body>
<div>
      
</div>
</body>
</html>